<h1>Search results</h1>
<table>
<tr>

<th width="20%"><p align="center"><i><b>Latitude</b></i></th>
<th width="20%"><p align="center"><i><b>Longitude</b></i></th>
<th width="20%"><p align="center"><i><b>Name</b></i></th>
<th width="20%"><p align="center"><i><b>Address</b></i></th>

</tr>

<% @places.each do |place| %>

<tr>
<td><%= place.latitude %></td>
<td><%= place.longitude %></td>
<td><%= place.name %></td>
<td><%= place.address %></td>
</tr>
<% end %>

</table>
<p> <a href="/places"> Back</a> </body>
